<div class='row'>
    <div class='col-md-2'>

    </div>
    <div class='col-md-8'>
        <div class="card text-center">
            <div class="card-header">

            </div>
            <div class="card-body">
                <h5 id='article-title' class="card-title"></h5>
                <p id='article-text' class="card-text"></p>
                <button type='button' class="btn btn-primary">Save article</button>
            </div>
        </div>
    </div>
    <div class='col-md-2'>

    </div>
</div>

