#header{
    margin-left: 450px;
}
#navbarNav{
    margin-left: 400px;
}
.btn{
    margin: 10px;
}
body{
    background-image: url(https://previews.123rf.com/images/yupiramos/yupiramos1311/yupiramos131100637/23761922-new-york-design-over-white-background-vector-illustration.jpg);
    background-repeat: inherit;
    
}
#article-title{
    text-align: left;
}
#article-text{
    text-align: left;
}
.container{
    overflow: auto;
    min-height: 600px;
}

    /* background-image:url(https://g1.nyt.com/assets/homepage/20180614-182902/images/foundation/logos/nyt-logo-379x64.png);
    background-repeat: no-repeat;
    align-content: center; */
